# cp the ondeck example files
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01a_cp_database_yml.sh":
    mode: "000777"
    content: |
      #!/bin/bash
      cd /var/app/ondeck/config
      cp database.yml.example database.yml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02a_cp_local_yml.sh":
    mode: "000777"
    content: |
      #!/bin/bash
      cd /var/app/ondeck/config
      cp local_env.yml.example local_env.yml
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02a_cp_secrets_yml.sh":
    mode: "000777"
    content: |
      #!/bin/bash
      cd /var/app/ondeck/config
      cp secrets.yml.example secrets.yml
