option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: dbhost
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value: dbname
   - option_name: DB_USERNAME
     value: dbuser
   - option_name: DB_PASSWORD
     value: dbpass
